<div class="navigation-container">
  <div class="navigation-cover cover-black"></div>
  <div class="navigation-cover cover-light-purple"></div>
  <div class="navigation-cover cover-deep-purple"></div>
  <div class="navigation-cover cover-black"></div>

  <div class="navigation-wrapper">
      <nav class="navigation-menu">
        <ul>
          <li class="navigation-menu-item">
            <a [routerLink]="[ '/portfolio' ]" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="navigation-menu-item">
              <a [routerLink]="[ '/tattoos' ]" routerLinkActive="active">Tattoos</a>
          </li>
        </ul>
      </nav>
  </div>
</div>