main {
    height: 100vh;
}

.sidenav-btn-container {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 10;
    i.material-icons {
        cursor: pointer;
        color: white;
    }
  }
  .example-sidenav {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }